@model LoginVM
@{
    ViewData["Title"] = "SignIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h2>SignIn</h2>
    </div>
    <div class="card-body">
        <div asp-validation-summary="All">

        </div>
        <form asp-action="SignIn" asp-controller="Home" method="post">
            <div class="col-md-6 mx-auto">
                <div>
                    <label asp-for="Email"></label>
                    <input type="email" class="form-control" asp-for="Email" />
                </div>
                <div>
                    <label asp-for="Password"></label>
                    <input type="password" class="form-control" asp-for="Password" />
                </div>
                <button type="submit">SignIn</button>
            </div>
        </form>
    </div>
</div>
