@model List<Employee>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-striped">
    <thread>
        <tr>
            <th>#</th>
            <th>ID</th>
            <th>Title</th>
            <th>FirstName</th>
            <th>LastName</th>
        </tr>
    </thread>
    <tbody>
        @foreach (var employee in Model)
        {
          <tr>
              <td>#</td>
              <td>@employee.ID</td>
              <td>@employee.Title</td>
              <td>@employee.FirstName</td>
              <td>@employee.LastName</td>
          </tr>
        }
    </tbody>
</table>

